
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*hide arrows  of no input*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.center{
  text-align: center;
}

.login{
  padding-top: 5%;
}

.signup{
  padding-top: 5%;
}

.home{
  margin-top:12em;

}

.about_img{
  width: 70%;
}

h6{
  color: rgb(68, 153, 250);
}

p{
  color: rgb(68, 153, 250);
  font-weight: 500;
}

.profile-ranking{
  font-size: small;
}

.profile-head{
  margin: 0%;
  font-weight: 700;
}

.right{
  float: right;
}

.error-page{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}